.elements {
  margin-left: 30px;
  display: grid;
  grid-template-columns: 250px 250px 200px;
  gap: 20px;
}

.fraud-transaction-table,
.fraud-transaction-chart {
  margin: 20px;
  border: 1px solid;
  border-color: lightgray;
  border-radius: 10px;
}

h2 {
  font-size: 18px;
  font-weight: 500;
  margin: 30px;
}
