.elements {
  margin-left: 30px;
  display: flex;
  /* grid-template-columns: 250px 250px 200px; */
  gap: 20px;
}

.fraud-transaction-table,
.fraud-transaction-chart,
.recommendation-table {
  margin: 20px;
  border: 1px solid;
  border-color: lightgray;
  border-radius: 10px;
}

h2 {
  font-size: 18px;
  font-weight: 500;
  margin: 30px;
}

.recommendation-button {
  color: white;
  background-color: orange;
  border-radius: 5px;
  border: none;
  width: 15rem;
  margin: 0 20px 0 auto;
  cursor: pointer;
}

.recommendation-button:hover {
  background-color: white;
  border: 1px solid;
  color: black;
}
