.elements {
  margin-left: 30px;
  display: grid;
  grid-template-columns: 250px 250px 200px;
  gap: 20px;
}

.fraud-transaction {
  margin: 15px;
  border: 1px solid;
  border-color: lightgray;
  border-radius: 10px;
}
