.nav {
  display: flex;
  justify-content: space-between;

  padding: 10px;

  background-color: #635858;
  color: white;
}

.icon {
  font-size: 40px;
  padding-top: 5px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.user-container {
  display: flex;
  width: 15rem;
  padding: 5px;
  background-color: rgb(29, 29, 29);
  border-radius: 50px;
  cursor: pointer;
}
